@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

html {
    background: url("https://images.unsplash.com/photo-1505051508008-923feaf90180?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") center center/cover;
    line-height: 1.7;
  }
  
  body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  
  
  p {
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  

  .intro {
  color:#E9F9F8;
  font-family: "Great Vibes", cursive; 
  font-size: 20px; 
  line-height: 50px; 
  font-weight: normal; 
  margin-bottom: 30px; 
  margin-top: 20px; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff;
 
  }
  
  .main-area h2 {
    font-size: 165%;
    margin: 0 0 0.25em 0;
  }
  
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    overflow: none;
  }
  
  @media screen and (min-width: 1280px) {
    body {
      font-size: 16px;
    }
  
    .container {
      max-width: 1200px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .section {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  
  
  header {
    padding-top: 20px;
    color: #fff;
    background-color: #405c71;
  }
  
  
  header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
  }
  
  header p {
    font-size: 90%;
    margin: 0;
  }
  
  .site-nav {
    margin-top: 0px;
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
  }
  
  .site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
  }
  
  .site-nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    background-color: #365267;
    
   
  }
  
  .site-nav a:hover {
    background-color: #fff;
    color: #2c465a;
  }
  
  @media screen and (max-width: 1023px) {
    .site-nav li {
      width: 33.332%;
      margin-right: 0;
    }
  
    .site-nav a {
      padding: 15px 0;
      margin-right: 5px;
      margin-bottom: 5px;
      text-align: center;
    }
  }
  
  .btn-a {
    z-index:10;
    position: relative;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #365267;
    color: #fff;
    font-size: 84%;
    margin-left: 10px;
  }
  
  .btn-a:hover {
    background-color: #fff;
    color: #365267;
  }

  @media screen and (max-width: 1023px) {
    .site-nav li {
      width: 50%;
    }
  }
  
  
  
  .content-area {
    background-color: rgb(32, 31, 31);
    padding-bottom: 40px;
    padding-top: 40px;
    
  }
  
  @media screen and (max-width: 767px) {
    .content-area {
      padding-top: 20px;
    }
  }
  
  .sidebar {
    color: #555;
    font-size: 85%;
  }
  
  .sidebar h3 {
    font-size: 138.5%;
    margin-bottom: 7px;
  }
  
  .info-box {
    background-color: #efeedb;
    border: 5px solid #e6e5c2;
    padding: 20px 40px 7px 40px;
    margin-bottom: 1em;

  }
  
  @media screen and (max-width: 767px) {
    .hide-small {
      display: none;
      font-weight: bold ;
    }
  }
  
  
  @media screen and (max-width: 767px) {
    .slide-text {
      position: static;
      background-color: #000;
    }
  }
  
  .slide-text h3 {
    margin: 0;
  }
  
 
  .cycle-prev,
  .cycle-next {
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 1px 10px;
    display: block;
    cursor: pointer;
    font-size: 130%;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .cycle-next {
    right: 0;
  }
  
  .cycle-slideshow:hover .cycle-prev,
  .cycle-slideshow:hover .cycle-next {
    opacity: 1;
  }
  
  .cycle-pager {
    position: absolute;
    top: 20px;
    z-index: 1003;
    width: 100%;
    text-align: center;
  }
  
  .cycle-pager span {
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 4px;
    cursor: pointer;
  }
  
  .cycle-pager .cycle-pager-active {
    background-color: #000;
  }
  
 
  .btn-a {
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #365267;
    color: #fff;
    font-size: 84%;
    margin-left: 10px;
  }
  
  .btn-a:hover {
    background-color: #fff;
    color: #365267;
  }
  
 
  .read-more {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  
  .read-more:hover {
    text-decoration: none;
  }
  
  .toggle-btn {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    .toggle-btn-visible {
      display: block;
    }
  
    .toggle-target-hidden {
      display: none;
    }
  
    .toggle-target-expanded {
      display: block;
    }
  }
  
  .main-area .toggle-btn-visible {
    display: block;
  }
  
  .main-area .toggle-target-hidden {
    display: none;
  }
  
  .main-area .toggle-target-expanded {
    display: block;
  }
  
 
  .row {
    margin-right: -20px;
  }
  
  .col {
    width: 100%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  .col-xs-11 {
    width: 91.662%;
  }
  .col-xs-10 {
    width: 83.332%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.662%;
  }
  .col-xs-7 {
    width: 58.331%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.662%;
  }
  .col-xs-4 {
    width: 33.332%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.662%;
  }
  .col-xs-1 {
    width: 8.332%;
  }
  
  @media screen and (min-width: 768px) {
    .row {
      margin-right: -40px;
    }
  
    .col {
      padding-right: 40px;
    }
  
    .col-sm-11 {
      width: 91.662%;
    }
    .col-sm-10 {
      width: 83.332%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.662%;
    }
    .col-sm-7 {
      width: 58.331%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.662%;
    }
    .col-sm-4 {
      width: 33.332%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.662%;
    }
    .col-sm-1 {
      width: 8.332%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .col-md-11 {
      width: 91.662%;
    }
    .col-md-10 {
      width: 83.332%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.662%;
    }
    .col-md-7 {
      width: 58.331%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.662%;
    }
    .col-md-4 {
      width: 33.332%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.662%;
    }
    .col-md-1 {
      width: 8.332%;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .col-lg-11 {
      width: 91.662%;
    }
    .col-lg-10 {
      width: 83.332%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-8 {
      width: 66.662%;
    }
    .col-lg-7 {
      width: 58.331%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-5 {
      width: 41.662%;
    }
    .col-lg-4 {
      width: 33.332%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-2 {
      width: 16.662%;
    }
    .col-lg-1 {
      width: 8.332%;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .push-down-sm {
      margin-bottom: 30px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .push-down-sm {
      margin-bottom: 15px;
    }
  }
  
  footer {
    text-align: center;
    font-size: 85%;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .row:before,
  .row:after,
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  
  .row:after,
  .group:after {
    clear: both;
  }
  
  .row,
  .group {
    zoom: 1;
  }
  

  

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

 .highlight {
    color: #3e07d6;
  }



.area{
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(207, 231, 117);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
}
}
